body{
    margin: 0;
    padding: 0;
    background-color: #fbfcfc;
}
.container{
    width: 1280px;
    margin: auto;
    background-color: #fff;
}
/*barra navegacion*/
.navbar{
    background-color: #51a6fc;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 20px; 
}
.navbar li, ul{
    display: inline-block;
}

.navbar li a{
    color: #fff;
    font-family: Roboto;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 13px;
    margin: 3px;
}

#izquierda {
    display: flex;
    align-items: center; 
    gap: 10px; 
}
#izquierda img {
    height: 50px;
    width: 50px;
}
#titulo {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    color: #fff;
    margin: 0; 
}

/*para el header*/

#header{
    height:500px;

}

#slogan{
    position: absolute;
    z-index: 1;
    color: #fff;
    font-family: 'Roboto';
    text-transform: uppercase;
    font-size: 40px;
    text-align: left;
    padding: 30px;
}

#slide{
    height: 500px;
    overflow: hidden;
}



.imgslide{
    opacity: 0; /*AL PRINCIPIO NO TIENEN OPACIDAD*/
    transition: opacity 1s ease-in-out;
    position: absolute;
    height: 500px;
}

.imgactiva{
    opacity: 1; /* ESTA CLASE HACE QUE LA IMAGEN SE VEA*/
}
/*div que encierra todas las secciones*/

.main{
    padding: 20px;
}
/*Para la seccion about*/

#left {
    width: 60%;
    font-family: 'Roboto';
    font-size: 17px;
    text-align: justify;
    background-color: #51a6fc;
    padding: 20px;
    border-radius: 20px;
    color: #fff;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
}

#left h2{
    text-transform: uppercase;
}

#left h3{
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
}
#right{
    display: inline-block;
    width: 39%;
    overflow: hidden;
    border-radius: 20px;
    box-sizing: border-box;
    vertical-align: top;
}
/*seccion de opiniones*/
#opiniones h2  {
    color: #51a6fc;
    font-family: 'Roboto';
    text-align: right;
    text-transform: uppercase;
}
.opinion {
    display: inline-block;
    width: 24%;
    border-radius: 20px;
    background-color: #fbfcfc;
    text-align: center;
    vertical-align: top;
    box-sizing: border-box;
    padding: 20px;
    font-family: 'Roboto';
}


.opinion h3{
    text-transform: uppercase;
}
